<?php

$config = [
	'hub' => 'https://hub.vaalikone.eu',
	'username' => 'anonymous',
	'password' => 'anonymous',
	'interval' => 10, // Seconds
    'userAgent' => 'Mozilla/5.0 (compatible; ANK client)',
];
